USE [master]
GO
/****** Object:  Database [InoxLinhKien]    Script Date: 30/09/2018 7:15:32 SA ******/
CREATE DATABASE [InoxLinhKien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InoxLinhKien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\InoxLinhKien.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InoxLinhKien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\InoxLinhKien_log.ldf' , SIZE = 3520KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InoxLinhKien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InoxLinhKien]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[CategorySeo] [nvarchar] (150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] NOT NULL,
	[CustomerName] [nvarchar](300) NULL,
	[CustomerImage] [nvarchar](200) NULL,
	[CustomerDescription] [ntext] NULL,
	[CustomerRemark] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] NOT NULL,
	[NewsName] [nvarchar](300) NULL,
	[NewsImage] [nvarchar](300) NULL,
	[NewsRemark] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerName] [nvarchar](300) NULL,
	[Creator] [nvarchar](300) NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[MadeFrom] [nvarchar](100) NULL,
	[CategoryId] [int] NULL,
	[Dimenson] [ntext] NULL,
	[Image] [ntext] NULL,
	[Remark] [ntext] NULL,
	[Status] [bit] NULL,
	[Seo] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SlideImage]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlideImage](
	[SlideId] [int] NOT NULL,
	[SlideImageName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName],[CategorySeo]) VALUES (1, N'Chậu rửa',N'Chau rua inox')
INSERT [dbo].[Category] ([CategoryId], [CategoryName],[CategorySeo]) VALUES (2, N'Bếp công nghiệp',N'Bep cong nghiep')
INSERT [dbo].[Category] ([CategoryId], [CategoryName],[CategorySeo]) VALUES (3, N'Tủ',N'Tu inox')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerImage], [CustomerDescription], [CustomerRemark]) VALUES (1, N'Bệnh viện đa khoa Lâm Hoa', N'/ckfinder/userfiles/files/customer_1.jpg', N'Địa chỉ: Phố Lý Bôn, thành phố Thái Bình', N'<p>Lorem....</p>
')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerImage], [CustomerDescription], [CustomerRemark]) VALUES (2, N'Bệnh viện đa khoa Lâm Hoa', N'/ckfinder/userfiles/files/customer_2.jpg', N'Địa chỉ: Phố Lý Bôn, thành phố Thái Bình', N'<p>Lorem....</p>
')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerImage], [CustomerDescription], [CustomerRemark]) VALUES (3, N'Bệnh viện đa khoa Lâm Hoa', N'/images/customer.jpg', N'Địa chỉ: Phố Lý Bôn, thành phố Thái Bình', N'Lorem....')
INSERT [dbo].[SlideImage] ([SlideId], [SlideImageName]) VALUES (1, N'/img/slides/nivo/bg-1.jpg')
INSERT [dbo].[SlideImage] ([SlideId], [SlideImageName]) VALUES (2, N'/img/slides/nivo/bg-2.jpg')
INSERT [dbo].[SlideImage] ([SlideId], [SlideImageName]) VALUES (3, N'/img/slides/nivo/bg-3.jpg')
/****** Object:  StoredProcedure [dbo].[DeleteCustomerById]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteCustomerById]
@CustomerId int
as
begin
	delete from Customer where CustomerId=@CustomerId
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteProduct]
@Id int
as
begin
	delete from Product where Id=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteSlideImage]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteSlideImage]
@SlideId int
as
begin
	delete from SlideImage where SlideId=@SlideId
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteUser]
@UserId int
as
begin
	delete from Users where UserId=@UserId
end

GO
/****** Object:  StoredProcedure [dbo].[GeProductByCategoryId]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GeProductByCategoryId]
@CategoryId int
as
begin
	select * from Product where CategoryId=@CategoryId
end  

GO
/****** Object:  StoredProcedure [dbo].[GetAllCategory]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllCategory]
as
begin 
	select * from Category
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomer]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllCustomer]
as
begin
	select * from Customer
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllNews]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllNews]
as
begin
	select * from News
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllOrder]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllOrder]
as
begin
	select * from Orders 
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllOrderItem]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllOrderItem]
as
begin
	select * from OrderItem
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllProduct]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllProduct]
as
begin
	select * from Product
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllSlideImage]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllSlideImage]
as
begin
	select * from SlideImage
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllUser]
as
begin
	select * from Users
end
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryById]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCategoryById]
@CategoryId int
as
begin
	select * from Category where CategoryId = @CategoryId
end

GO
/****** Object:  StoredProcedure [dbo].[GetCustomerById]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCustomerById]
@CustomerId int
as
begin
	select * from Customer where CustomerId=@CustomerId
end

GO
/****** Object:  StoredProcedure [dbo].[GetNewsById]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNewsById]
@NewsId int
as
begin
	select * from News where NewsId=@NewsId
end

GO
/****** Object:  StoredProcedure [dbo].[GetNextCategoryId]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNextCategoryId]
as
begin
	 select max(CategoryId)+1 from Category
	
end

GO
/****** Object:  StoredProcedure [dbo].[GetNextCustomerId]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNextCustomerId]
as
begin
	 select max(CustomerId)+1 from Customer
end

GO
/****** Object:  StoredProcedure [dbo].[GetNextNewsId]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNextNewsId]
as
begin
	 select max(NewsId)+1 from News
	
end

GO
/****** Object:  StoredProcedure [dbo].[GetNextProductId]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNextProductId]
as
begin
	 select max(Id)+1 from Product
	
end

GO
/****** Object:  StoredProcedure [dbo].[GetOrderItemByOrderId]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetOrderItemByOrderId]
@OrderId int
as
begin
	select * from OrderItem where OrderId = @OrderId
end

GO
/****** Object:  StoredProcedure [dbo].[GetProductById]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProductById]
@Id int
as
begin
	select a.Id,a.Name,a.MadeFrom,a.CategoryId,a.Dimenson,a.Image,a.Remark,a.Status,a.Seo,b.CategoryName
from Product a, Category b
where a.Id=@Id
and b.CategoryId in
(select CategoryId  from Product where Id=@Id)
end

GO
/****** Object:  StoredProcedure [dbo].[GetProductByName]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetProductByName]
@Name nvarchar(200)
as
begin
	select * from Product where Name=@Name
end 

GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserName]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUserByUserName]
@UserName nvarchar(50)
as
begin
	select * from Users where UserName=@UserName
end

GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertCategory]
@CategoryId int,
@CategoryName nvarchar(100),
@CategorySeo nvarchar(150)
as
begin
	insert into Category values (@CategoryId,@CategoryName,@CategorySeo);
end

GO
/****** Object:  StoredProcedure [dbo].[InsertCustomer]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertCustomer]
@CustomerId int,
@CustomerName nvarchar(300),
@CustomerImage nvarchar(200),
@CustomerDescription ntext,
@CustomerRemark ntext
as
begin
	insert into Customer(CustomerId,CustomerName,CustomerImage,CustomerDescription,CustomerRemark) values (@CustomerId,@CustomerName,@CustomerImage,@CustomerDescription,@CustomerRemark);
end

GO
/****** Object:  StoredProcedure [dbo].[InsertNews]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertNews]
@NewsId int,
@NewsName nvarchar(300),
@NewsImage nvarchar(300),
@NewsRemark ntext
as
begin
	insert into News(NewsId,NewsName,NewsImage,NewsRemark) values (@NewsId,@NewsName,@NewsImage,@NewsRemark); 
end

GO
/****** Object:  StoredProcedure [dbo].[InsertOrder]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertOrder]
(
@OrderId int,
@CustomerName nvarchar(300),
@Creator nvarchar(300),
@CreateDate datetime
)
as
begin
	insert into Orders values (@OrderId, @CustomerName, @Creator, @CreateDate);
end

GO
/****** Object:  StoredProcedure [dbo].[InsertOrderItem]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertOrderItem]
@OrderItemId int,
@OrderId int,
@ProductId int,
@Quantity int
as
begin
	insert into OrderItem values (@OrderItemId,@OrderId,@ProductId,@Quantity);
end

GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertProduct]
@Id int,
@Name nvarchar(200),
@MadeFrom nvarchar(100),
@CategoryId int,
@Dimenson ntext,
@Image ntext,
@Remark ntext,
@Status bit,
@Seo nvarchar(200)
as
begin
	insert into Product(Id,Name,MadeFrom,CategoryId,Dimenson,Image,Remark,Status,Seo) values (@Id,@Name,@MadeFrom,@CategoryId,@Dimenson,@Image,@Remark,@Status,@Seo); 
end

GO
/****** Object:  StoredProcedure [dbo].[InsertSlideImage]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertSlideImage]
@SlideId int,
@SlideImageName nvarchar(50)
as
begin
	insert into SlideImage(SlideId,SlideImageName) values (@SlideId,@SlideImageName); 
end

GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertUser]
@UserId int,
@UserName nvarchar(50),
@Password ntext
as
begin
	insert into Users(UserId,UserName,Password) values (@UserId,@UserName,@Password); 
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateCategory]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateCategory]
@CategoryId int,
@CategoryName nvarchar(100),
@CategorySeo nvarchar(150)
as
begin
	update  Category 
	set CategoryName=@CategoryName, CategorySeo=@CategorySeo
	where CategoryId=@CategoryId	
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateCustomer]
@CustomerId int,
@CustomerName nvarchar(300),
@CustomerImage nvarchar(200),
@CustomerDescription ntext,
@CustomerRemark ntext
as
begin
	update Customer
	set CustomerName=@CustomerName,CustomerImage= @CustomerImage, CustomerDescription=@CustomerDescription,  CustomerRemark=@CustomerRemark
	where CustomerId=@CustomerId
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateNews]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateNews] 
@NewsId int,
@NewsName nvarchar(300),
@NewsImage nvarchar(300),
@NewsRemark ntext
as
begin
	update News set 	
	NewsName = @NewsName,
	NewsImage = @NewsImage,
	NewsRemark =@NewsRemark
	where 
	NewsId = @NewsId
	; 
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateOrder]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateOrder]
@OrderId int,
@CustomerName nvarchar(300),
@Creator nvarchar(300),
@CreateDate datetime
as
begin
	update Orders 
	set CustomerName=@CustomerName, Creator=@Creator, CreateDate=@CreateDate
	where OrderId=@OrderId
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderItem]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateOrderItem]
@OrderItemId int,
@OrderId int,
@ProductId int,
@Quantity int
as
begin
	update  OrderItem 
	set OrderId=@OrderId,ProductId=@ProductId,Quantity=@Quantity
	where OrderItemId=@OrderItemId
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateProduct]
@Id int,
@Name nvarchar(200),
@MadeFrom nvarchar(100),
@CategoryId int,
@Dimenson ntext,
@Image ntext,
@Remark ntext,
@Status bit,
@Seo nvarchar(200)
as
begin
	update Product
	set	Name=@Name, MadeFrom=@MadeFrom, CategoryId=@CategoryId, Dimenson=@Dimenson,Image=@Image,Remark=@Remark, Status=@Status,Seo=@Seo
	where Id=@Id
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 30/09/2018 7:15:32 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateUser]
@UserId int,
@UserName nvarchar(50),
@Password ntext
as
begin
	update Users
	set UserName=@UserName, Password=@Password
	where UserId=@UserId
end

GO
USE [master]
GO
