
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Share/_Admin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6" id="command">
        </div>
        <div class="col-md-6" id="command">
            <h4> Command</h4>
            <button type="button" class="btn btn-default" onclick="addpopup();">Thêm mới sản phẩm</button>
        </div>
    </div>
    <div class="row">
        <table id="myTable" class="table table-bordered table-hover" style="width: 100%;">
            <thead class="bg-danger">
                <tr>

                    <td style="width:8%">ID</td>
                    <td style="width:8%">Tên sản phẩm</td>
                    <td style="width:25%">Chất liệu</td>
                    <td style="width:8%">Mã chủng loại sản phẩm</td>
                    <td style="width:26%">Kích thước</td>
                    <td style="width:26%">Ảnh sản phẩm</td>
                    <td style="width:25%"></td>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>

        </table>
        <!--modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width:60%">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">×</button>*@
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-envelope"></span> Thêm mới sản phẩm</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="CategoryID">Tên sản phẩm <span class="labels">(*)</span></label>
                            <input type="text" class="form-control" id="CategoryID" placeholder="Category ID" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="Level">Chủng loại sản phẩm<span class="labels">(*)</span></label>
                            <select class="form-control" id="Level" onchange="Getparentcategorybylevelofchild(this.value)" name="Level"></select>
                        </div>

                        <div class="form-group">
                            <label for="CategoryName">Tên sản phẩm<span class="labels">(*)</span></label>
                            <input type="text" class="form-control" id="CategoryName" placeholder="Tên sản phẩm" />
                        </div>

                        <div class="form-group">
                            <label for="ParentCategoryId">Kích thước<span class="labels">(*)</span></label>
                            <input type="text" class="form-control" id="CategoryName" placeholder="Kích thước sản phẩm" />
                        </div>


                        <div class="form-group">
                            <label for="Description">Ảnh sản phẩm<span class="labels">(*)</span></label>
                            <input type="text" class="form-control" id="Description" placeholder="Ảnh sản phẩm" />
                        </div>

                        <div class="form-group">
                            <label for="Remarks">Mô tả</label>
                            <textarea id="Remarks" name="txtArea" class="ckeditor form-control" rows="2" cols="20" placeholder="Remarks"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();"><span class="glyphicon glyphicon-ok"></span> Thêm mới</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update()"><span class="glyphicon glyphicon-ok"></span> Cập nhật</button>
                        <button type="button" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ket thuc modal-->
    </div>
</div>
@section customerjs
{
    <script src="/admin_dist/js/customer.js"></script>
}




